{
  "postgres_remote": {
    "host": "postgres",
    "port": 5432,
    "user": "airflow",
    "password": "airflow",
    "database": "airflow"
  },
  "postgres_local": {
    "host": "localhost",
    "port": 5433,
    "user": "airflow",
    "password": "airflow",
    "database": "airflow"
  }
}
